<div class="d-flex justify-content-center">
  <div class="card w-75 ">
    <div class="card-header">
      {{user.businessName}}
    </div>
    <div class="card-body col-10">
      <h6 class="card-subtitle mb-2 text-muted">License:{{user.license}}</h6>
      <p class="card-text">{{user.bio}}</p>
      <a href="#" class="card-link">{{user.phone}}</a>
      <a href="#" class="card-link">{{user.email}}</a>
      <div class="card text-center col-6">
        <div class="card-header ">
            Looking for something specific?
        </div>
        <div class="card-body">
          <h5 class="card-title">Business Specialties</h5>
          <p class="card-text">{{user.specialities}}.</p>
        </div>        
        <div class="card-footer text-muted">
        </div>
      </div>
    </div>
  </div>
</div>